<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6786a3">  <td>20/03/02 17:36:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runners.VerivoxTest@4e41089d]">feature</td> 
  <td>main@1150284200</td>   <td></td> </tr>
<tr bgcolor="6786a3">  <td>20/03/02 17:36:17</td>   <td>-725</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runners.VerivoxTest@4e41089d]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1150284200</td>   <td></td> </tr>
<tr bgcolor="86f9d5">  <td>20/03/02 17:36:17</td>   <td>-409</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VerivoxTest.setup()[pri:0, instance:runners.VerivoxTest@4e41089d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1150284200</td>   <td></td> </tr>
<tr bgcolor="6786a3">  <td>20/03/02 17:37:30</td>   <td>72275</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runners.VerivoxTest@4e41089d]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1150284200</td>   <td></td> </tr>
</table>
